@import 'styles/main';

.carousel {
  position: relative;
  padding: $mobile-padding;

  &__stage-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
  }

  &__stage {
    transition: transform 0.5s ease-in-out;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}