@import 'styles/main';

.slide {
  display: inline-block;
  &--mobile {
    height: 100%;
    width: 100vw;
    padding: $mobile-padding;
    flex-shrink: 0;
    // Collapse padding into carousel padding
    transform: translateX(-$mobile-padding);

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 32px;
    color: $blue;
    margin: 0;
    height: $slide-title-height;
    line-height: $slide-title-height;
  }
}